<a href="https://colab.research.google.com/github/jacksontenorio8/python_sqlite3/blob/main/python_sqlite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
"""
-> Documentação:
- https://docs.python.org/3/library/sqlite3.html
"""

'\n-> Documentação:\n- https://docs.python.org/3/library/sqlite3.html\n'

In [2]:
# Criar um Banco de Dados
Conexao = sqlite3.connect('Banco_Dados')

In [3]:
# Apontar para o Banco de Dados
Cursor = Conexao.cursor()

In [4]:
# Criando uma tabela
Cursor.execute(
    'CREATE TABLE Minha_Tabela (Data text, Nome text, Idade real)'
)

# Fazer o commit
Conexao.commit()

In [5]:
# Inserindo valores
Cursor.execute(
    'INSERT INTO Minha_Tabela VALUES ("21/05/22", "Jackson", "50")'
)

In [6]:
Cursor.execute(
    'INSERT INTO Minha_Tabela VALUES ("21/05/22", "Agamenom", "45")'
)

In [7]:
# Importar Números Aleatórios
import random

In [12]:
# Loop
for Loop in range(10):

# Gerando um número aleatorio
  Numero = random.randint(10, 20)

  # Gerando informações na minha tabela
  Cursor.execute(f'INSERT INTO Minha_Tabela VALUES ("21/05/22", "Agamenom", {Numero})')

#SELECT TABLE
- A SELECT instrução é usada para selecionar dados em um banco de dados.

- SLECT*FROM table_name

- SELECT column1, column2,...FROM table_name

In [14]:
# Query de consulta - Todas as colunas
Consulta = Cursor.execute('SELECT*FROM minha_tabela').fetchall()
print(Consulta)

[('21/05/22', 'Jackson', 50.0), ('21/05/22', 'Agamenom', 45.0), ('21/05/22', 'Agamenom', 13.0), ('21/05/22', 'Agamenom', 12.0), ('21/05/22', 'Agamenom', 15.0), ('21/05/22', 'Agamenom', 12.0), ('21/05/22', 'Agamenom', 12.0), ('21/05/22', 'Agamenom', 17.0), ('21/05/22', 'Agamenom', 16.0), ('21/05/22', 'Agamenom', 18.0), ('21/05/22', 'Agamenom', 12.0), ('21/05/22', 'Agamenom', 10.0), ('21/05/22', 'Agamenom', 11.0), ('21/05/22', 'Agamenom', 17.0), ('21/05/22', 'Agamenom', 17.0), ('21/05/22', 'Agamenom', 12.0), ('21/05/22', 'Agamenom', 20.0), ('21/05/22', 'Agamenom', 13.0), ('21/05/22', 'Agamenom', 17.0), ('21/05/22', 'Agamenom', 10.0), ('21/05/22', 'Agamenom', 18.0), ('21/05/22', 'Agamenom', 19.0)]

In [15]:
# Query de consulta - Colunas Especificas
Consulta = Cursor.execute('SELECT Nome, Idade FROM minha_tabela').fetchall()

#Loop
for Linha in Consulta:
  print(Linha)

('Jackson', 50.0)
('Agamenom', 45.0)
('Agamenom', 13.0)
('Agamenom', 12.0)
('Agamenom', 15.0)
('Agamenom', 12.0)
('Agamenom', 12.0)
('Agamenom', 17.0)
('Agamenom', 16.0)
('Agamenom', 18.0)
('Agamenom', 12.0)
('Agamenom', 10.0)
('Agamenom', 11.0)
('Agamenom', 17.0)
('Agamenom', 17.0)
('Agamenom', 12.0)
('Agamenom', 20.0)
('Agamenom', 13.0)
('Agamenom', 17.0)
('Agamenom', 10.0)
('Agamenom', 18.0)
('Agamenom', 19.0)